<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Raverus.FiskalizacijaDEV.EXE.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Raverus.FiskalizacijaDEV.EXE.Properties.Settings>
            <setting name="CisUrl" serializeAs="String">
                <value />
            </setting>
            <setting name="TimeOut" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RacunZahtjevDatoteka" serializeAs="String">
                <value />
            </setting>
            <setting name="PoslovniProstorZahtjevDatoteka" serializeAs="String">
                <value />
            </setting>
            <setting name="RacunOdgovorDatoteka" serializeAs="String">
                <value />
            </setting>
            <setting name="PoslovniProstorOdgovorDatoteka" serializeAs="String">
                <value />
            </setting>
            <setting name="NazivCertifikata" serializeAs="String">
                <value />
            </setting>
            <setting name="RacunZahtjevPotpisiDatoteka" serializeAs="String">
                <value />
            </setting>
            <setting name="PoslovniProstorZahtjevPotpisiDatoteka" serializeAs="String">
                <value />
            </setting>
            <setting name="RacunZahtjevPosaljiDatoteka" serializeAs="String">
                <value />
            </setting>
            <setting name="PoslovniProstorZahtjevPosaljiDatoteka" serializeAs="String">
                <value />
            </setting>
            <setting name="RacunOdgovorPotpisiDatoteka" serializeAs="String">
                <value />
            </setting>
            <setting name="PoslovniProstorOdgovorPotpisiDatoteka" serializeAs="String">
                <value />
            </setting>
            <setting name="RacunOdgovorPosaljiDatoteka" serializeAs="String">
                <value />
            </setting>
            <setting name="PoslovniProstorOdgovorPosaljiDatoteka" serializeAs="String">
                <value />
            </setting>
        </Raverus.FiskalizacijaDEV.EXE.Properties.Settings>
    </userSettings>
</configuration>