<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Raverus.FiskalizacijaDEV.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Raverus.FiskalizacijaDEV.Properties.Settings>
            <setting name="Raverus_FiskalizacijaDEV_CisWebService_FiskalizacijaService"
                serializeAs="String">
                <value>https://cistest.apis-it.hr:8449/FiskalizacijaServiceTest</value>
            </setting>
            <setting name="Raverus_FiskalizacijaDEV_StatusService_GetStatus"
                serializeAs="String">
                <value>https://www.fdev.hr/StatusWS/GetStatus.asmx</value>
            </setting>
        </Raverus.FiskalizacijaDEV.Properties.Settings>
    </applicationSettings>
</configuration>